@import 'core/settings';

body {
	height: 100vh;
	background: $color-background;
	text-align: center;
}


//Header

.page__header {
	padding-top: 100px;
}

.header__img {
	height: 100px;
	width: 100px;
	margin: 10px auto;
	display: block;
}

//Main

.main__title{
	font-size: 28px;
	color: $color-letter;
	font-weight: 400;
}

//Footer

.page__footer{
	margin-top: 50px;
	color: #6c757d;
	font-size: 16px;
}

.copyright__text{
	margin: 0;
}