<main class="page__main">
    <h1 class="main__title">Please sign in</h1>
    <form action="/signin" method="post" class="main__form">
        <input class="form__input" type="email" name="email" placeholder="Email address" required>
        <input class="form__input" type="password" name="password" placeholder="Password" required>
        <div class="form__input"> <input type="checkbox" name="checkbox" > Remember me</div>
        <button type="submit" class="form__btn">Sign in</button>
    </form>
</main>
 